<div class="row text-center" id="wrapper">
  <div class="row text-center">
    <h1>Report Incident</h1>
  </div>

  <form>
    <p>I feel
    <input type ="text" name="adj" placeholder="insert emotion">
    when 
    <input type ="text" name="bully" placeholder="insert name">
    does
    </p>
    <p><input type ="text" name="description" placeholder="insert action">
    to me</p>
  </form>
</div>
