// Place all the styles related to the matching controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import "bootstrap-sprockets";
// @import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import 'https://fonts.googleapis.com/css?family=Raleway';

#wrapper {
	width: 60%;
	margin: 0 auto;
	padding-top: 15%;

}

#box {
	margin: 10px;
	padding-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius:  15px;
}

.btn {
  cursor: pointer;
  margin: 10px;
  border-radius: 2px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  width: 100px;
  display: inline-block;
}

.btn:hover {
  cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;

}

.blue {
  color: #fff;
  background-color: #B293A3;
  border: 2px #9D7D8D solid !important;
}

.blue:hover {
  background-color: #fff;
  color: #fff;
}





input[type="text"]
{
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
}

.report-text {
	font-size: 20px;
}

#describe-action {
	width: 520px;
}

.profile {
	float: right;
	margin-right: 20px;
	font-size: 25px;
	display: inline;
	width: 25%;

}

#username {
	display: inline-block;
	
	padding-top: 21px;
}

#propic{
	float:right
}

img {
	vertical-align: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 5px solid #000;
}

h1 {
	font-weight: bold;
	letter-spacing:2px;
}

.matched-result {
	border: 1px solid

}

